<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit profile</title>

    <!-- Custom Css -->
		<link rel="stylesheet" href="..\static\profilestyle.css">
    <link rel="stylesheet" href="../static/stylesign.css">

</head>
<body>
  <div class="main">
    <div class="card">
      <form method="post">
        <table>
          <tbody>
            <tr>
              <td>
                <label for="phone">Phone</label>
              </td>
              <td>
                <input class="myinput" type="tel" id="phone" name="phone" value="{{ user[5] }}"><br><br>
              </td>
            </tr>
            <tr>
              <td>
                <label for="about">About</label>
              </td>
              <td>
                <textarea class="myinput" id="about" name="about">{{ user[7] }}</textarea><br><br>
              </td>
            </tr>
          </tbody>
        </table>
        <input type="submit", value="Save Changes">
      </form>
    </div>       
  </div>
</body>
</html>