{% for p in posts %}
<div class="post">
    <div class="post-top">
        <div class="post-info">
            {% if (p[-1] == 1) %}
            <p class="name"><em>{{p[0]}}</em>  posted</p>
            {% else %}
            <p class="name"><em>{{p[0]}}</em>  shared</p>
            {% endif %}
            <span class="time">{{p[3]}}</span>
        </div>
    </div>

    <div class="post-content">
        {{p[4]}}
    </div>

    <div class="post-bottom">
        <a class="linkbutton" href="/sharefrom&lt;{{p[2]}}&gt;"><div class="action">
            <i class="fa fa-share"></i>
            <span class="share">Share</span>
        </div></a>
    </div>
</div>
{% endfor %}
