<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>

    <!-- Custom Css -->
		<link rel="stylesheet" href="..\static\profilestyle.css">
        <link rel="stylesheet" href="../static/style2.css">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-k6G4s6Gqo6IhVf9w3I5xo6T4lIqr3Ee8dF2C5Q6Qd1KqzKZvQk8M6s9yXIWtWt5LJx5g/0Z2lE6p3qzv1+PzgQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
            integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>

    <!-- Main -->
    <div class="main">
        <div class="card">
            <div class="card-body">
                <table>
                    <tbody>
                        <tr>
                            <td><strong>Name</strong></td>
                            <td>{{ user[1] }} {{ user[2] }}</td>
                        </tr>
                        <tr>
                            <td><strong>Email</strong></td>
                            <td>{{ user[3] }}</td>
                        </tr>
                        <tr>
                            <td><strong>Phone</strong></td>
                            <td>{{ user[5] }}</td>
                        </tr>
                        <tr>
                            <td><strong>Birthday</strong></td>
                            <td>{{ user[6] }}</td>
                        </tr>
                        <tr>
                            <td><strong>About</strong></td>
                            <td>{{ user[7] }}</td>
                        </tr>
                    </tbody>
                </table>
                <br/>
                <a class="linkbutton" href="/profile/edit"><i class="fa fa-pen"></i> Edit Profile</a>
            </div>
        </div>

        <div class="card">
            <h2>My Posts</h2>
            {% block body %}
                    {% include 'post_layout.html' %}
            {% endblock %}
        </div>
    </div>
    <!-- End -->
</body>
</html>
