<!DOCTYPE html>
<html>
<head>
	<title>Create Page</title>
	<link rel="stylesheet" type="text/css" href="../static/pages.css">
</head>
<body>
	<header>
		<h1>Create Page</h1>
	</header>

	<main>
		<form method="post">
			<label for="page-name">Page Name:</label>
			<input type="text" id="page-name" name="page-name"><br>

			<label for="page-email">Company Email:</label>
			<input type="email" id="page-email" name="page-email"><br>

			<button type="submit">Create</button>
		</form>
	</main>

</body>
</html>