{% for p in posts %}
<div class="post">
    <div class="post-top">
        <div class="dp">
            <img src="C:\Users\Tarek\Desktop\flask_app\venv\static\girl.jpg" alt="">
        </div>
        <div class="post-info">
            {% if (p[-1] == 1) %}
            <p class="name"><em>{{p[0]}}</em>  posted</p>
            {% else %}
            <p class="name"><em>{{p[0]}}</em>  shared</p>
            {% endif %}
            <span class="time">{{p[3]}}</span>
        </div>
        <i class="fas fa-ellipsis-h"></i>
    </div>

    <div class="post-content">
        {{p[4]}}
    </div>

    <div class="post-bottom">
        <div class="action">
            <i class="far fa-thumbs-up"></i>
            <span>Like</span>
        </div>

        <a href="/sharefrom&lt;{{p[2]}}&gt;"><div class="action">
            <i class="fa fa-share"></i>
            <span>Share</span>
        </div></a>
    </div>
</div>
{% endfor %}
